:root {
    --ff-primary:  'Open Sans', sans-serif;
    --ff-secondary:  'Montserrat', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-back: #F2F2F2;

    --clr-primary: #0065FC;
    --clr-secondary: #DEEBFF;

    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

body {
    font-family: var(--ff-primary);
    line-height: 1.35rem;
}

h1,
h2,
h3 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-bold);
}

h1 {
    font-size: var(--fs-h1);
}

#container {
    width: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 80px auto 80px;
}
  
header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: blue;
    display: flex;
}
  
main {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}


  
footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background: #2e2e2e;
    display: flex;
}


/*  */

.postInfos,
.postTitle,
.postImage,
.postBody,
.postFooter {
    margin: 0.5em 0.5em;
}

.postImage {
    margin: 0 auto;
}

.postImage img {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

/* Media Queries */

@media screen and (min-width: 750px) {
    main {
        width: 80%;
    }

    .postInfos,
    .postTitle,
    .postImage,
    .postBody,
    .postFooter {
        margin: 0.5em 0;
    }    

}